<!--dark background, top & bottom margin of 3 on the y-axis and margin top is auto
this is because it is a flex column and to move 1 thing, it has to be margin top auto to
force the footer to the bottom of page, or screen if not enough content -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; I Rigden 2022</span>
    </div>
</footer>